*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
body{
    background: #fff;
    padding: 10px;
}
img{
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    display: inline-block;
}
.wrapper >div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrapper >div >img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}
.wrapper{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-auto-rows: 200px;
    grid-auto-flow: dense;

}
.wrapper .wide{
    grid-column: span 2;

}
.wrapper .tall{
    grid-row: span 2;
}
.wrapper .big{
    grid-column: span 2;
    grid-row: span 2;
}
